@import 'src/styles.sass'

.header-wrapper
  width: 80%
  max-width: 800px
  margin: 70px auto 70px
  background-color: tomato
  box-shadow: 0 0 50px -10px gray

  display: flex

.image
  background-image: url('../../../assets/pattern.png')
  background-size: cover
  width: 80%

.feature
  transition: ease 1s
  font-weight: bold
  color: $light
  font-size: 60px
  padding: 50px
  user-select: none
